.alertmodal{
    width:300px;
    height:auto;
    z-index:3;
    background:#5200ff;
    color:white;
    margin-left:40%;
    margin-top: 10%;
    font-size:50px;
    padding-top:2%;
    border-radius:5px;
}

/* Alex's */
@media (max-width: 1920px) and (max-height: 937px)   {    
    .alertmodal{
        
        padding-top:0%;
    
    }
}

/* Evgenia's */
@media (max-width: 1440px) and (max-height: 719px)   {
    .alertmodal{
        padding-top:3%;
     
    }
}

/* for ipad pro */
@media only screen and (max-width: 1024px) {
    .alertmodal{
      
        margin-left:35%;
        margin-top: 15%;
        
    }
}

/* iPad  */
@media only screen and (max-width: 768px) {
    .alertmodal{
        margin-left:30%;
    }
}

/* iphone 6/7/8 plus */
@media only screen and (max-width: 414px) {
    .alertmodal{
      padding-top:15%;
      font-size:35px;
        margin-left:5%; 
    }
}

/* iphone X */
@media (max-width: 375px) and (max-height: 812px)  {
    .alertmodal{
        width:250px;
        margin-left:8%;
        font-size:30px;
        padding-top:18%;
    }
}

/* iphone 5/SE   */
@media only screen and (max-width: 320px) {
    .alertmodal{
        width:230px;
        margin-left:5%;
    }
}