.chat{
    position: fixed;
    bottom: 5.3%;
    right: 3%;
    width:20%;
    font-family: 'Rubik', sans-serif;
}

.chatPage{
    background :white;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.673);
    animation: open .25s;
}
@keyframes open {
    from { transform: scaleY(0) }
        to { transform: scaleY(1) }
  }
 
.chatButton{
    margin-left:    84%;
    background:#5200ff;
    color:white;
    border:none;
    height:25px;   
    padding:0% 2% 0% 2%;
    font-size:15px;
}
.xButton{
    margin-left:    91%;
    background:#5200ff;
    color:white;
    border:none;
    height:25px;   
    padding:0% 2% 0% 2%;
    font-size:15px;
}
.chatBox{
    width: 83%;
    margin:0%
}
.send{
    background:#5200ff;
    color:white;
    border:none;
    height:25px;   
    padding:0% 2% 0% 2%;
    font-size:15px;
    margin: 1px 0% 3px 0%;
    font-family: 'Rubik', sans-serif;
}
.chatButton:hover{
    transform: scale(1.2);
}
.send:hover, .chatButton:hover, .xButton{
    background:white;
    color:   #5200ff;
    border:solid 0.5px #1a034d73;
}
/* needs to be worked on */
 /* .send:active{
    border:none;
    outline:none;

} */

ul #oldMessage, ul #message {
    text-align:left;
}

.startButton, .toLobby{
    background:#5200ff;
    color:white;
    margin-left:8%;
    width: 350px;
    height: 100px;
    font-size:50px;
    border:none;
    font-family: 'Rubik', sans-serif;
}
.startButton{
    margin-top:30px;
}
.startButton:hover, .createRoom:hover, .toLobby:hover{
    transform: scale(1.1    );
    background:#5200ff;
    color:white;
}
#user{
    float:left;
    font-size:30px;
    margin-left: 5%;
    margin-top:0%;
}

.users{
    /* margin-right:80%; */
    margin-top:80px;
    text-align: center;
    font-size:30px;
    color:black;
    font-family: 'Rubik', sans-serif;   
    /* display:inline; */
   /* margin-left:0;     */
 
   /* margin-right:%; */
}
.createRoom{
    background: #5200ff;
    color:white;
    border:none;
    width: 350px;
    height: 100px;
    font-size:50px;
    margin-top:60px;
    margin-left:90px;
    font-family: 'Rubik', sans-serif;
}

.toLobby{
      margin-left:90px;
    margin-top:20px;
}
#users{
    color:#5200ff;
    font-family: 'Rubik', sans-serif;
}
.waiting{
    background:white;
    border-color: #5200ff;
    margin-top:80px;
    font-family: 'Rubik', sans-serif;
}
.waiting:hover{
    background: #5200ff;
    color:white;
}
.started {
    margin-top:0;
    margin-left:5%  ;  
    text-align:left;
    font-size:15px;
    font-family: 'Rubik', sans-serif;
    float:left; 
    display:inline; 
}

.started2{
    font-size:20px;
    width: 100px;
    height: 30px;
    padding:0;
    margin-left:0;
    margin-top:10px;   
    font-family: 'Rubik', sans-serif;            
}   

/* Alex's */
@media (max-width: 1920px) and (max-height: 937px)   {
    .startButton{
        margin-left:6%;
    }
}
/* Evgenia's */
@media (max-width: 1440px) and (max-height: 719px)   {
    .toLobby{
        margin-right:7%;
  }
}

/* for ipad pro */
@media only screen and (max-width: 1024px) {
    .createRoom{
        margin-top:50%;
        margin-left:80px;
    }
    .toLobby{
        margin-top:10%;
  }
  .startButton{
    margin-left:11%;
    }
}
/* iPad  */
@media only screen and (max-width: 768px) {
    .createRoom{
        margin-left:50px;
        margin-top:40%;
    }
    .toLobby{
        margin-top:15%;
        margin-right:10%;
  }

 }