#login_button{
    margin-right: 0;
    background: #b2757e;
    color: white;
    border:none;
    margin-top:1%;
    width:280px;
}
label{
    display: inline-block;
    margin-bottom: .5rem;
    color: white;
    margin-right: 5px;
}
