.App{
    margin-top:300px;
}
button{
    margin-right:10%;
}
button:nth-child(4){
    margin-right:0%;
}

.navBtn{
    /* background:#5200ff; */
    /* background:#1d005ba5; */
    background:white;
    /* color:white; */
    color:#1d005ba5;
    width:10%;
    height:50px;
    border:none;
    margin-bottom:25%;
}
.navBtn:hover{
    background:white;
    color:#1d005ba5;
    /* background:#5200ff; */
    /* background:#1d005ba5; */
    /* width:15%; */
    /* height:60px; */
    transform: scale(1.5);
}
body{
    height:100%;
}