#confirm{
    margin-right:3px;
}
#getUser{
    margin-left:50px;
}
#password{
    margin-left:53px;
}
.SignupForm{
    right:0;
}
.signup{
    margin-right: 0;
    background: #b2757e;
    color: white;
    border:none;
    margin-top:1%;
    width:280px;
}
input{
    width:150px
}

/* iphone X */
@media (max-width: 375px) and (max-height: 812px)  {
    .signupinput{
        width:100px;
    }
    .signup{
        width:230px;
    }
  
}