#canvas{
    border-radius: 50%;
    margin-left:26.5%;
    margin-top:1%;
}
#palette, #guessBox{
    background: rgba(0, 0, 0, 0.673);
    height:83px;
    width:250px;
    margin-top:29%;
    margin-left:39%;
    padding-top:1%;
    padding-left:1%;
}
#guessBox{
    color:white;
}
#undo, #redo, #color, #white{
    background:white;
    width: "15px";
    height: "15px";
    color:#5200ff;
    font-size:12px;
    margin-bottom:5%;
}
#white{
    height: 31px;
}
.container{
    position: fixed;
    text-align:center;
    padding:0%
}