#canvas{
    border-radius: 5px;
    margin-left:15%;
    margin-top:4%;
}
#palette, #guessBox{
    background: rgba(0, 0, 0, 0.673);
    height:83px;
    width:265px;
    margin-top:27.5%;
    margin-left:58%;
    padding-top:1%;
    padding-left:1%;
}

#guessBox{
    color:white;
    font-family: 'Rubik', sans-serif;
}
#undo, #redo, #color, #white{
    background:white;
    width: "15px";
    height: "15px";
    color:#5200ff;
    font-size:12px;
    margin-bottom:5%;
}
#white{
    height: 31px;
}
.container{
    position: fixed;
    text-align:center;
    padding:0%
}
#word{
    color: #5200ff;
    margin:0;
    font-size:30px;
    font-weight:bold;
    font-family: 'Rubik', sans-serif;
    padding:0;
}
#drawer{
    color:black;
    margin:0;
    padding:0;
}   