#content{
    padding:0 8% 0 8%; 
}
h1 {
    text-align: center; 
    color:#5200ff;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;

}
#quotes{
    font-size: 25px;
    font-weight:bold;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}
#tall{
    font-size: 35px;
}
.githubLink{
    text-align:center
}
.githubLink a{
    margin-left:2%;
}
.githubLink a:hover{
    text-decoration: none;
    color: #5200ff;
}
p{
    font-size:20px;
    font-family: 'Rubik', sans-serif;
}
